#title {
  text-align: center;
}

#account {
  text-align: initial;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin: auto;
}

#account td,
#account th {
  border: 1px solid #ddd;
  padding: 8px;
}

#account tr:nth-child(even) {
  background-color: #52796f;
}

#account tr:hover {
  background-color: #cad2c5;
  color: #2f3e46;
}

#account tr:hover .row-buttons,
#account tr:hover ~ .row-buttons {
  opacity: 1;
}

#account th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #84a98c;
  color: white;
}

.row-options {
  display: flex;
  justify-content: space-between;
}

.row-buttons {
  opacity: 0;
}

svg {
  margin-right: 0.5em;
}

svg:hover {
  color: #84a98c;
}
