#title {
  text-align: center;
}

#account {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin: auto;
}

#account td,
#account th {
  border: 1px solid #ddd;
  padding: 8px;
}

#account tr:nth-child(even) {
  background-color: #52796f;
}

#account tr:hover {
  background-color: #cad2c5;
  color: #2f3e46;
}

#account th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #84a98c;
  color: white;
}

a {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 0.2em;
  font-size: 1em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #2f3e46;
  background-color: #cad2c5;
}
