.accountForm {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.accountLabel {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}

.accountInput {
  border-radius: 0.3em;
  display: block;
  width: 20em;
  height: 2em;
  font-size: 0.9em;
}

.accountSelect {
  display: block;
  width: 20.5em;
  height: 2em;
  font-size: 0.9em;
}

.accountTextarea {
  display: block;
  width: 20em;
  font-size: 0.9em;
  resize: none;
}

h1 {
  margin: auto;
  margin-bottom: 0.5em;
}

.errorMessage {
  margin: auto;
  color: #da5870;
}

button {
  width: 5em;
  height: 2em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
  background-color: #cad2c5;
  color: #2f3e46;
}
