nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

a {
  display: inline-block;
  text-align: center;
  margin-right: 0.5em;
  padding: 0.2em;
  font-size: 1.2em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #2f3e46;
  background-color: #cad2c5;
}

a:hover {
  background-color: #52796f;
  color: #cad2c5;
}
